<p data-role="description">This is where you search for hashtags! yay!</p>

<%= form_for :search, url: searches_path do |form| %>
  <%= form.label :hashtag %>
  <%= form.text_field :hashtag %>
  <%= form.submit 'Search' %>
<%end%>
